.bfg{
   background-color:rgb(248, 218, 182);
   background-position-x: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 45px;
   border-top-left-radius: 2px;
 
  
  
}

.form-group{
    text-shadow:0;
}